body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

table {
    width: 75%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table th {
    background-color: darkgray;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

#back-to-home {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: gray;
    color: white;
    text-decoration: none;
    width: 150px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: gray;
}
