<!DOCTYPE html>
<html>
  <head>
    <title>4NF Web App</title>
  </head>
  <body>
    <h1>Welcome to the Movie Analytics Web App</h1>
    <a href="/search_graph">Vizualize Graph</a><br />
    <a href="/AvgRatingFor10MinMovie_route"
      >View Average Ratings of movies of each 10 Minutes Time Interval</a
    ><br />
    <a href="/AvgRatingByGenreDecade_route"
      >View Average Ratings by Genre and Decade</a
    ><br />
    <a href="/mostPopularGenreActorDirector_route"
      >View Most Popular Genre For Each Actor/Actress and Director</a
    ><br />
    <a href="/TopGenresByDecade_route">View Top Genres by Decade</a><br />
    <a href="/average_rating_for_actor_director_route"
      >Search for average rating for an actor and director</a
    ><br />
    <a href="/individualStatistics_route"
      >Individual Statistics for Actor or Director</a
    ><br />
    <a href="/predictor">Predict Score for Hypothetical Movie</a><br />
  </body>
</html>
