<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style_sheet.css') }}"
    />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <table>
      <tr>
        {% for col in data.columns %}
        <th>{{ col }}</th>
        {% endfor %}
      </tr>
      {% for row in data.itertuples() %}
      <tr>
        {% for value in row[1:] %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <br />
    <div class="pagination-container">
      {% if has_prev %}
      <a href="?page={{ page - 1 }}">Previous</a>
      {% endif %}

      <span>Page {{ page }}</span>

      {% if has_next %}
      <a href="?page={{ page + 1 }}">Next</a>
      {% endif %}
    </div>
    <br />
    <a id="back-to-home" href="/">Back to Home</a>
  </body>
</html>
