<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style_sheet.css') }}"
    />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <table>
      <tr>
        {% for col in data.columns %}
        <th>{{ col }}</th>
        {% endfor %}
      </tr>
      {% for row in data.itertuples() %}
      <tr>
        {% for value in row[1:] %}
        <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <br />
    <a href="/">Back to Home</a>
  </body>
</html>
